%p#notice= notice


.div.right
  - if current_user.realtor? and current_user.is_realtor_for_house? @house.id
    %p
      %b Potential Buyers:
      = @house.potential_buyers.all.collect {|u| User.find_by_id(u.user_id).name}.join(', ')



%p
  %b Company:
  = @house.company.name
%p
  %b User:
  = @house.user.name
%p
  %b Location:
  = @house.location
%p
  %b Area:
  = @house.area
%p
  %b Year built:
  = @house.year_built
%p
  %b Style:
  = @house.style
%p
  %b Price:
  = @house.price
%p
  %b Floors:
  = @house.floors
%p
  %b Has basement:
  = @house.has_basement
%p
  %b Owner:
  = @house.owner
%p
  %b Phone:
  = @house.phone
%p
  %b Email:
  = @house.email
%p
  %b Image path:
  = image_tag @house.image_path

= link_to 'Submit an Inquiry', new_inquiry_path(:house_id => @house.id), :class => 'button-xs'
= link_to 'Edit', edit_house_path(@house), :class => 'button-xs'
= link_to 'Back', houses_path, :class => 'button-xs'

- if current_user.realtor? and current_user.is_realtor_for_house? @house.id
  = link_to 'See Inquiries', inquiries_path(:house_id => @house.id), :class => 'button-xs'
- elsif current_user.househunter? and @house.potential_buyers.all.select{|u| u.user_id == current_user.id}.size == 0
  = link_to 'Add me to potential buyers', new_potential_buyer_path({ :user_id => current_user.id, :house_id => @house.id }), :class => 'button-xs'
- elsif current_user.househunter? and @house.potential_buyers.all.select{|u| u.user_id == current_user.id}.size == 1
  = link_to 'Remove me from potential buyers', potential_buyers_path(current_user.id, @house.id), { :data => "Are you sure?", :method => :delete, :class => 'button-xs' }




