<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, :autofocus => true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :email %>
  <%= form.email_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :phone %>
  <%= form.phone_field :phone, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :preferred_contact %>
  <%= form.select :preferred_contact, User.preferred_contact_types.map{|value| [value, value]}, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :roles %>
    <% Role.user_roles.each do |role| %>
      <div>
        <%= form.label role.name %>
        <%= form.check_box(:role_ids, {:multiple => :true, :checked => @user.roles.map { |role| role.id }.include?(role.id) }, role.id, false) %>
      </div>
  <% end %>
</div>
