= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :addr, 'Address'
    = f.text_field :addr
  .field
    = f.label :found_year
    = f.text_field :found_year
  .field
    = f.label :revenue,'Revenue (million dollars per year)'
    = f.text_field :revenue
  .field
    = f.label :synopsis
    = f.text_field :synopsis
  .actions
    = f.submit 'Save'
