= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :addr, 'Address'
    = f.text_field :addr
  .field
    = f.label :size
    = f.select(:size, Company.sizes.keys)
  .field
    = f.label :found_year
    = f.text_field :found_year
  .field
    = f.label :revenue
    = f.select(:revenue, Company.revenues.keys)
  .field
    = f.label :synopsis
    = f.text_field :synopsis
  .actions
    = f.submit 'Save'
