%p#notice= notice

%p
  %b Name:
  = @company.name
%p
  %b Website:
  = @company.website
%p
  %b Address:
  = @company.addr
%p
  %b Size:
  = @company.size
%p
  %b Found year:
  = @company.found_year
%p
  %b Revenue:
  = "$#{@company.revenue} million per year"
%p
  %b Synopsis:
  = @company.synopsis

%p
  %b Owner
  = @company.owned_by

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
