%p#notice= notice

%p
  %b Name:
  = @company.name
%p
  %b Website:
  = @company.website
%p
  %b Address:
  = @company.addr
%p
  %b Size:
  = @company.size
%p
  %b Found year:
  = @company.found_year
%p
  %b Revenue:
  = "#{@company.revenue} per year"
%p
  %b Synopsis:
  = @company.synopsis

%p
  %b Realtors:
  = @company.owned_by
  //= @company.realtors.each.select {|realtor| realtor.company_id == @company.id}.size
  //= @company.realtors.each.select {|realtor| realtor.company_id == @company.id}[0].user.name

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path