.authform
  %h1 #{title}

  = form_for @inquiry_reply do |f|

    - if @inquiry_reply.errors.any?
      #error_explanation
        %h2= "#{pluralize(@inquiry_reply.errors.count, "error")} prohibited this inquiry_reply from being saved:"
        %ul
          - @inquiry_reply.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.hidden_field :inquiry_id, value: @inquiry_reply.inquiry_id
      = f.hidden_field :realtor_id, value: @inquiry_reply.realtor_id

    .form-group
      = f.label :message
      = f.text_area :message, :class => 'form-control'
    .actions
      = f.submit 'Save', :class => 'button'
