.authform
  %h2 #{title}
  = form_for @inquiry do |f|
    - if @inquiry.errors.any?
      #error_explanation
        %h2= "#{pluralize(@inquiry.errors.count, "error")} prohibited this inquiry from being saved:"
        %ul
          - @inquiry.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.hidden_field :house_id, value: @inquiry.house_id
      = f.hidden_field :user_id, value: @inquiry.user_id
    .form-group
      = f.label :subject
      = f.text_field :subject, :class => 'form-control'
    .form-group
      = f.label :message
      = f.text_area :message, :class => 'form-control'
    .actions
      = f.submit 'Save', :class => 'button'
