%p#notice= notice

%p
  %b House:
  = link_to 'House', house_path(@inquiry.house.id)
%p
  %b User:
  = User.find(@inquiry.user.id).name
%p
  %b Subject:
  = @inquiry.subject
%p
  %b Message:
  = @inquiry.message

= link_to 'Edit', edit_inquiry_path(@inquiry), :class => 'button-xs'
= link_to 'Back', inquiries_path, :class => 'button-xs'

- if current_user.realtor? or current_user.admin?
  - if @inquiry.inquiry_reply.nil?
    = link_to 'Reply', new_inquiry_reply_path(:inquiry_id => @inquiry.id), :class => 'button-xs'
  - else
    = link_to 'View Reply', inquiry_reply_path(@inquiry.inquiry_reply.id), :class => 'button-xs'


