%p#notice= notice

%p
  %b House:
  = @inquiry.house
%p
  %b User:
  = @inquiry.user
%p
  %b Subject:
  = @inquiry.subject
%p
  %b Message:
  = @inquiry.message

= link_to 'Edit', edit_inquiry_path(@inquiry)
\|
= link_to 'Back', inquiries_path
