<% if user_signed_in? %>
  <a class='nav-item nav-link'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></a>
  <a class='nav-item nav-link'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></a>
<% else %>
  <a class='nav-item nav-link'><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></a>
  <a class='nav-item nav-link'><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></a>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <a class='nav-item nav-link'><%= link_to 'Users', users_path, class: 'nav-link' %></a>
  <% end %>
<% end %>
